<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <!-- The format of the connection string is "DefaultEndpointsProtocol=https;AccountName=NAME;AccountKey=KEY" -->
    <!-- For local execution, the value can be set either in this config file or through environment variables -->
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=webjobberprod;AccountKey=tUhCKg6VGCEs2SOAvXCdPUun1jidjdJ0fWJpt+pPfsthZUs6xykcc8QsMYJFPyl6VzGnK/95YGZffb5IFGPHWw==" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=webjobberprod;AccountKey=tUhCKg6VGCEs2SOAvXCdPUun1jidjdJ0fWJpt+pPfsthZUs6xykcc8QsMYJFPyl6VzGnK/95YGZffb5IFGPHWw==" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>  
</configuration>